[Desktop Entry]
Encoding=UTF-8
Type=Service
Exec=blubb
Comment=CSS Language Support
Comment[nl]=Taalondersteuning voor CSS
Comment[pt]=Suporte para a Linguagem CSS
Comment[pt_BR]=Suporte à linguagem CSS
Comment[uk]=Підтримка мови CSS
Comment[x-test]=xxCSS Language Supportxx
Name=KDevCssSupport
Name[nl]=KDevCssSupport
Name[pt]=KDevCssSupport
Name[pt_BR]=KDevCssSupport
Name[uk]=KDevCssSupport
Name[x-test]=xxKDevCssSupportxx
GenericName=CSS Support
GenericName[nl]=CSS-ondersteuning
GenericName[pt]=Suporte para CSS
GenericName[pt_BR]=Suporte à CSS
GenericName[uk]=Підтримка CSS
GenericName[x-test]=xxCSS Supportxx
ServiceTypes=KDevelop/Plugin
Icon=source
X-KDE-Library=kdevcsslanguagesupport
X-KDevelop-Version=15
X-KDevelop-Language=Css
X-KDevelop-Args=CSS
X-KDevelop-Interfaces=ILanguageSupport
X-KDevelop-SupportedMimeTypes=text/css,text/html
X-KDE-PluginInfo-Name=KDevCssSupport
X-KDevelop-Mode=NoGUI
X-KDevelop-LoadMode=AlwaysOn
