[Desktop Entry]
Encoding=UTF-8
Type=Service
Exec=blubb
Comment=Css Language Support
Name=KDevCssSupport
GenericName=Css Support
ServiceTypes=KDevelop/Plugin
Icon=source
X-KDE-Library=kdevcsslanguagesupport
X-KDevelop-Version=11
X-KDevelop-Language=Css
X-KDevelop-Args=CSS
X-KDevelop-Interfaces=ILanguageSupport
X-KDevelop-SupportedMimeTypes=text/css,text/html
X-KDE-PluginInfo-Name=KDevCssSupport
X-KDevelop-Mode=NoGUI
X-KDevelop-LoadMode=AlwaysOn
